# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.qoder/*
.agents/*

# Archives
**/*.zip
**/*.tar
**/*.gz
**/*.xz
**/*.zstd

# debugs
*.http
temp
phyEngine/
*Circuit*/
*circuit*/
src/views/CircuitLab2D.vue
src/views/CircuitLab2D_Simple.vue
src/services/circuitSav.ts
src/config/components.ts
src/composables/useSimulation.ts
src/composables/useCircuitEngine.ts
src/assets/styles/circuit-lab.css
src/composables/useCamera.ts
.gitignore
src/types/circuit.ts
src/composables/useDragAndDrop.ts
